div {
    background-color:#3F0071;
    margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family:Calibri, sans-serif;
}

h1 {
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.middle-container, .bottom-container{
width: 200px;
height: 200px;
}

.middle-container{
    background-color: #FB2576;
    }

.bottom-container{
        background-color: #332FD0;
        }

.bottom-cl {
    position: absolute;
}

.top-cl {
    position: relative;
    left:200px;
    top: 10px;
    padding-top: 100px;
}
    